In [ ]:
# . Load your dataset into python using the pandas library and save data into a dataframe named dfi (where i is one of your datasets, for a total of 4).

In [ ]:
# Dataset #1 - NBA Players draft

In [22]:
# Load your dataset into python using the pandas library and save data into a dataframe named dfi
import pandas as pd

dfi = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv')

In [24]:
# Q2: Preview your data by calling your dataframe’s name. How many columns and rows do you see?
print(dfi)

        id  year  rank  overall_pick team                player  \
0        1  1989     1             1  SAC        Pervis Ellison
1        2  1989     2             2  LAC           Danny Ferry
2        3  1989     3             3  SAS          Sean Elliott
3        4  1989     4             4  MIA             Glen Rice
4        5  1989     5             5  CHH             J.R. Reid
...    ...   ...   ...           ...  ...                   ...
1917  1918  2021    56            56  CHO         Scottie Lewis
1918  1919  2021    57            57  CHO       Balša Koprivica
1919  1920  2021    58            58  NYK          Jericho Sims
1920  1921  2021    59            59  BRK          RaiQuan Gray
1921  1922  2021    60            60  IND  Georgios Kalaitzakis

            college  years_active   games  minutes_played  ...  \
0        Louisville          11.0   474.0         11593.0  ...
1              Duke          13.0   917.0         18133.0  ...
2           Arizona          12.0   742.0         24502.0  ...
3          Michigan          15.0  1000.0         34985.0  ...
4               UNC          11.0   672.0         15370.0  ...
...             ...           ...     ...             ...  ...
1917        Florida           1.0     2.0             7.0  ...
1918  Florida State           NaN     NaN             NaN  ...
1919          Texas           1.0    41.0           555.0  ...
1920  Florida State           NaN     NaN             NaN  ...
1921            NaN           1.0    13.0           214.0  ...

      3_point_percentage  free_throw_percentage  average_minutes_played  \
0                  0.050                  0.689                    24.5
1                  0.393                  0.840                    19.8
2                  0.375                  0.799                    33.0
3                  0.400                  0.846                    35.0
4                  0.135                  0.716                    22.9
...                  ...                    ...                     ...
1917                 NaN                  0.500                     3.5
1918                 NaN                    NaN                     NaN
1919                 NaN                  0.414                    13.5
1920                 NaN                    NaN                     NaN
1921               0.385                  0.467                    16.5

      points_per_game  average_total_rebounds  average_assists  win_shares  \
0                 9.5                     6.7              1.5        21.8
1                 7.0                     2.8              1.3        34.8
2                14.2                     4.3              2.6        55.7
3                18.3                     4.4              2.1        88.7
4                 8.5                     5.0              1.0        22.5
...               ...                     ...              ...         ...
1917              0.5                     0.0              0.5         0.0
1918              NaN                     NaN              NaN         NaN
1919              2.2                     4.1              0.5         1.5
1920              NaN                     NaN              NaN         NaN
1921              6.6                     1.6              0.9        -0.1

      win_shares_per_48_minutes  box_plus_minus  value_over_replacement
0                         0.090            -0.5                     4.4
1                         0.092            -0.9                     4.9
2                         0.109             0.2                    13.5
3                         0.122             0.8                    24.9
4                         0.070            -2.9                    -3.7
...                         ...             ...                     ...
1917                      0.164             6.0                     0.0
1918                        NaN             NaN                     NaN
1919                      0.128            -1.7                     0.0
1920                        NaN             NaN                     NaN
1921                     -0.024            -7.0                    -0.3

[1922 rows x 24 columns]

In [ ]:
# There are 1992 rows and 24 colums

In [ ]:
# Q3. Examine the shape of your data using the .shape command and the data types of your columns using .dtypes.

In [46]:
# Data Shape
# importing pandas module
import pandas as pd
 
# importing csv file
data = pd.read_csv("https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv")
 
# using dataframe.shape
shape = data.shape
 
# printing shape
print("Shape = {}".format(shape))

Shape = (1922, 24)

In [54]:
# Data Type
import pandas as pd
dfi = pd.read_csv("https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv")
for name, dtype in df.dtypes.iteritems():
        print("Column Name: ",name," ||| ","Data Type : ", dtype)

Column Name:  id  |||  Data Type :  int64
Column Name:  year  |||  Data Type :  int64
Column Name:  rank  |||  Data Type :  int64
Column Name:  overall_pick  |||  Data Type :  int64
Column Name:  team  |||  Data Type :  object
Column Name:  player  |||  Data Type :  object
Column Name:  college  |||  Data Type :  object
Column Name:  years_active  |||  Data Type :  float64
Column Name:  games  |||  Data Type :  float64
Column Name:  minutes_played  |||  Data Type :  float64
Column Name:  points  |||  Data Type :  float64
Column Name:  total_rebounds  |||  Data Type :  float64
Column Name:  assists  |||  Data Type :  float64
Column Name:  field_goal_percentage  |||  Data Type :  float64
Column Name:  3_point_percentage  |||  Data Type :  float64
Column Name:  free_throw_percentage  |||  Data Type :  float64
Column Name:  average_minutes_played  |||  Data Type :  float64
Column Name:  points_per_game  |||  Data Type :  float64
Column Name:  average_total_rebounds  |||  Data Type :  float64
Column Name:  average_assists  |||  Data Type :  float64
Column Name:  win_shares  |||  Data Type :  float64
Column Name:  win_shares_per_48_minutes  |||  Data Type :  float64
Column Name:  box_plus_minus  |||  Data Type :  float64
Column Name:  value_over_replacement  |||  Data Type :  float64

/tmp/ipykernel_129/3948456030.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, dtype in df.dtypes.iteritems():

In [ ]:
# Q4. Use .describe() on your data. What do you notice about your data? What does this command return?

In [62]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv")
print(data.describe())

                id         year         rank  overall_pick  years_active  \
count  1922.000000  1922.000000  1922.000000   1922.000000   1669.000000
mean    961.500000  2005.317378    29.694589     29.694589      6.332534
std     554.977927     9.456946    16.912454     16.912454      4.656321
min       1.000000  1989.000000     1.000000      1.000000      1.000000
25%     481.250000  1997.000000    15.000000     15.000000      2.000000
50%     961.500000  2005.000000    30.000000     30.000000      5.000000
75%    1441.750000  2013.000000    44.000000     44.000000     10.000000
max    1922.000000  2021.000000    60.000000     60.000000     22.000000

             games  minutes_played        points  total_rebounds  \
count  1669.000000     1669.000000   1669.000000     1669.000000
mean    348.042540     8399.055722   3580.413421     1497.009587
std     324.897567     9845.871529   4826.142847     2003.686388
min       1.000000        0.000000      0.000000        0.000000
25%      72.000000      838.000000    265.000000      128.000000
50%     235.000000     4204.000000   1552.000000      656.000000
75%     584.000000    13246.000000   5150.000000     2139.000000
max    1541.000000    52139.000000  37062.000000    15091.000000

            assists  ...  3_point_percentage  free_throw_percentage  \
count   1669.000000  ...         1545.000000            1633.000000
mean     774.300779  ...            0.272405               0.716825
std     1284.602969  ...            0.128339               0.118702
min        0.000000  ...            0.000000               0.000000
25%       46.000000  ...            0.222000               0.659000
50%      257.000000  ...            0.317000               0.736000
75%      910.000000  ...            0.356000               0.797000
max    12091.000000  ...            1.000000               1.000000

       average_minutes_played  points_per_game  average_total_rebounds  \
count             1669.000000      1669.000000             1669.000000
mean                18.134032         7.275734                3.194368
std                  8.707656         4.969343                2.083895
min                  0.000000         0.000000                0.000000
25%                 11.000000         3.400000                1.700000
50%                 17.700000         6.200000                2.800000
75%                 24.800000        10.000000                4.200000
max                 41.100000        27.200000               13.300000

       average_assists   win_shares  win_shares_per_48_minutes  \
count      1669.000000  1669.000000                1668.000000
mean          1.550749    17.873697                   0.061691
std           1.488536    27.989805                   0.094467
min           0.000000    -1.700000                  -1.264000
25%           0.500000     0.400000                   0.030000
50%           1.100000     5.300000                   0.069000
75%           2.100000    24.500000                   0.104000
max           9.500000   249.500000                   1.442000

       box_plus_minus  value_over_replacement
count     1668.000000             1669.000000
mean        -2.311271                4.403176
std          4.143403               11.461729
min        -52.000000               -8.500000
25%         -3.900000               -0.400000
50%         -2.000000                0.000000
75%         -0.300000                4.500000
max         51.100000              142.600000

[8 rows x 21 columns]

In [ ]:
# count: Total Number of Non-Empty values
# mean: Mean of the column values
# std: Standard Deviation of the column values
# min: Minimum value from the column
# 25%: 25 percentile
# 50%: 50 percentile
# 75%: 75 percentile
# max: Maximum value from the column

In [ ]:
# Q5. Use the .head() and .tail() command - what does this do?

In [68]:
#Head function
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv")
print(data.head())

   id  year  rank  overall_pick team          player     college  \
0   1  1989     1             1  SAC  Pervis Ellison  Louisville
1   2  1989     2             2  LAC     Danny Ferry        Duke
2   3  1989     3             3  SAS    Sean Elliott     Arizona
3   4  1989     4             4  MIA       Glen Rice    Michigan
4   5  1989     5             5  CHH       J.R. Reid         UNC

   years_active   games  minutes_played  ...  3_point_percentage  \
0          11.0   474.0         11593.0  ...               0.050
1          13.0   917.0         18133.0  ...               0.393
2          12.0   742.0         24502.0  ...               0.375
3          15.0  1000.0         34985.0  ...               0.400
4          11.0   672.0         15370.0  ...               0.135

   free_throw_percentage  average_minutes_played  points_per_game  \
0                  0.689                    24.5              9.5
1                  0.840                    19.8              7.0
2                  0.799                    33.0             14.2
3                  0.846                    35.0             18.3
4                  0.716                    22.9              8.5

   average_total_rebounds  average_assists  win_shares  \
0                     6.7              1.5        21.8
1                     2.8              1.3        34.8
2                     4.3              2.6        55.7
3                     4.4              2.1        88.7
4                     5.0              1.0        22.5

   win_shares_per_48_minutes  box_plus_minus  value_over_replacement
0                      0.090            -0.5                     4.4
1                      0.092            -0.9                     4.9
2                      0.109             0.2                    13.5
3                      0.122             0.8                    24.9
4                      0.070            -2.9                    -3.7

[5 rows x 24 columns]

In [ ]:
# The head function displays the first five rows of the dataframe by default. It takes in a single parameter: the number of rows. We can use this parameter to display the number of rows of our choice.

In [70]:
#Tail function
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/nbaplayersdraft.csv")
print(data.tail())

        id  year  rank  overall_pick team                player  \
1917  1918  2021    56            56  CHO         Scottie Lewis
1918  1919  2021    57            57  CHO       Balša Koprivica
1919  1920  2021    58            58  NYK          Jericho Sims
1920  1921  2021    59            59  BRK          RaiQuan Gray
1921  1922  2021    60            60  IND  Georgios Kalaitzakis

            college  years_active  games  minutes_played  ...  \
1917        Florida           1.0    2.0             7.0  ...
1918  Florida State           NaN    NaN             NaN  ...
1919          Texas           1.0   41.0           555.0  ...
1920  Florida State           NaN    NaN             NaN  ...
1921            NaN           1.0   13.0           214.0  ...

      3_point_percentage  free_throw_percentage  average_minutes_played  \
1917                 NaN                  0.500                     3.5
1918                 NaN                    NaN                     NaN
1919                 NaN                  0.414                    13.5
1920                 NaN                    NaN                     NaN
1921               0.385                  0.467                    16.5

      points_per_game  average_total_rebounds  average_assists  win_shares  \
1917              0.5                     0.0              0.5         0.0
1918              NaN                     NaN              NaN         NaN
1919              2.2                     4.1              0.5         1.5
1920              NaN                     NaN              NaN         NaN
1921              6.6                     1.6              0.9        -0.1

      win_shares_per_48_minutes  box_plus_minus  value_over_replacement
1917                      0.164             6.0                     0.0
1918                        NaN             NaN                     NaN
1919                      0.128            -1.7                     0.0
1920                        NaN             NaN                     NaN
1921                     -0.024            -7.0                    -0.3

[5 rows x 24 columns]

In [ ]:
# The tail function in Python displays the last five rows of the dataframe by default. It takes in a single parameter: the number of rows. We can use this parameter to display the number of rows of our choice.

In [ ]:
# Extra Credit #1

In [ ]:
# 1. Choose one of your datasets and remove the header information. (Can delete the row in excel, etc..)

In [88]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/kobe.csv', skiprows=[0])
print(df)

     ORL  1 1.1     9:47            Kobe Bryant makes 4-foot two point shot  H
0    ORL  1   1     9:07                          Kobe Bryant misses jumper  M
1    ORL  1   1     8:11                   Kobe Bryant misses 7-foot jumper  M
2    ORL  1   1     7:41  Kobe Bryant makes 16-foot jumper (Derek Fisher...  H
3    ORL  1   1     7:03                    Kobe Bryant makes driving layup  H
4    ORL  1   1     6:01                          Kobe Bryant misses jumper  M
..   ... ..  ..      ...                                                ... ..
127  ORL  3   4     3:33                        Bryant Layup Shot: Missed    M
128  ORL  3   4     2:02                          Bryant 3pt Shot: Missed    M
129  ORL  3   4  00:23.9                          Bryant 3pt Shot: Missed    M
130  ORL  3   4  00:06.9                          Bryant 3pt Shot: Missed    M
131  ORL  3   4  00:00.5                 Bryant Layup Shot: Made (31 PTS)    H

[132 rows x 6 columns]

In [90]:
# 2. Import the data into your environment using pandas. Display the .head() of your data showing no header information.

In [124]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/kobe.csv', skiprows=[0])
print(df.head())

   ORL  1 1.1  9:47            Kobe Bryant makes 4-foot two point shot  H
0  ORL  1   1  9:07                          Kobe Bryant misses jumper  M
1  ORL  1   1  8:11                   Kobe Bryant misses 7-foot jumper  M
2  ORL  1   1  7:41  Kobe Bryant makes 16-foot jumper (Derek Fisher...  H
3  ORL  1   1  7:03                    Kobe Bryant makes driving layup  H
4  ORL  1   1  6:01                          Kobe Bryant misses jumper  M

In [126]:
# 3. Using pandas, update the dataset to include the header information. Display the updated data using .head().

In [136]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/kobe.csv')
print(data.head())

    vs  game quarter  time                                        description  \
0  ORL     1       1  9:47            Kobe Bryant makes 4-foot two point shot
1  ORL     1       1  9:07                          Kobe Bryant misses jumper
2  ORL     1       1  8:11                   Kobe Bryant misses 7-foot jumper
3  ORL     1       1  7:41  Kobe Bryant makes 16-foot jumper (Derek Fisher...
4  ORL     1       1  7:03                    Kobe Bryant makes driving layup

  basket
0      H
1      M
2      M
3      H
4      H

In [ ]:
# Extra credit # 2

In [ ]:
# 1. Import a “dirty” dataset from the internet into your environment. (Missing values, improper coding of columns, etc.)

In [138]:
import pandas as pd

wnba = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/wnbadraft.csv')
print(wnba)

      overall_pick  year                 team            player former  \
0                1  2022        Atlanta Dream      Rhyne Howard    NaN
1                2  2022        Indiana Fever     NaLyssa Smith    NaN
2                3  2022   Washington Mystics    Shakira Austin    NaN
3                4  2022        Indiana Fever    Emily Engstler    NaN
4                5  2022     New York Liberty     Nyara Sabally    NaN
...            ...   ...                  ...               ...    ...
1059            28  1997          Utah Starzz      Kim Williams    NaN
1060            29  1997    Cleveland Rockers     Anita Maxwell    NaN
1061            30  1997   Los Angeles Sparks      Travesa Gant    NaN
1062            31  1997  Sacramento Monarchs    Tajama Abraham    NaN
1063            32  1997       Houston Comets  Catarina Pollini    NaN

                college  years_played  games  win_shares  win_shares_40  \
0              Kentucky             1   34.0         2.9          0.110
1                Baylor             1   32.0         0.0         -0.001
2              Ole Miss             1   36.0         3.1          0.160
3            Louisville             1   35.0         0.4          0.024
4                Oregon             0    NaN         NaN            NaN
...                 ...           ...    ...         ...            ...
1059             DePaul             2   58.0         0.3          0.010
1060   New Mexico State             1    9.0        -0.1         -0.036
1061              Lamar             1    2.0        -0.1         -0.247
1062  George Washington             2   40.0        -0.8         -0.070
1063              Texas             1   13.0         0.0          0.005

      minutes_played  points  total_rebounds  assists
0               31.4    16.2             4.5      2.8
1               30.7    13.5             7.9      1.4
2               21.6     8.7             6.5      0.9
3               18.2     5.2             5.2      1.5
4                NaN     NaN             NaN      NaN
...              ...     ...             ...      ...
1059            19.8     7.8             2.4      1.8
1060             7.0     2.1             1.3      0.9
1061             6.5     0.0             1.5      0.0
1062            11.7     3.5             1.9      0.3
1063             7.2     1.7             0.9      0.4

[1064 rows x 14 columns]

In [ ]:
# 2. Clean or “tidy” the data when loading into python using pandas.

In [140]:
print("Missing values distribution: ")
print(wnba.isnull().mean())
print("")

Missing values distribution:
overall_pick      0.000000
year              0.000000
team              0.000000
player            0.001880
former            0.882519
college           0.080827
years_played      0.000000
games             0.313910
win_shares        0.313910
win_shares_40     0.314850
minutes_played    0.313910
points            0.313910
total_rebounds    0.313910
assists           0.313910
dtype: float64

In [144]:
import pandas as pd

wnba = pd.read_csv('https://raw.githubusercontent.com/Meccamarshall/Data602/main/Week%207/wnbadraft.csv')

wnba.dropna(inplace = True)

print(wnba.to_string())

     overall_pick  year                 team                    player                      former                                 college  years_played  games  win_shares  win_shares_40  minutes_played  points  total_rebounds  assists
146             3  2018          Chicago Sky         Diamond DeShields           Çukurova (Turkey)                               Tennessee             5  143.0         4.5          0.047            26.8    13.2             4.2      2.2
879             2  2000   Washington Mystics              Tausha Mills       Chicago Condors (ABL)                                 Alabama             5   99.0         0.4          0.018             8.8     2.7             2.6      0.2
891            14  2000  Sacramento Monarchs              Katy Steding        Portland Power (ABL)                                Stanford             2   55.0         1.1          0.064            12.8     3.5             1.3      0.7
897            20  2000      Orlando Miracle             Jannon Roland  New England Blizzard (ABL)                                  Purdue             1   21.0        -0.5         -0.113             8.2     1.6             0.8      0.4
902            25  2000        Seattle Storm          Charisse Sampson  New England Blizzard (ABL)                                  Kansas             1   21.0         1.2          0.176            13.3     3.7             2.0      0.5
933            56  2000       Minnesota Lynx            Shanele Stires        Columbus Quest (ABL)                            Kansas State             3   48.0         0.1          0.011             7.1     1.9             1.0      0.5
943             2  1999  Sacramento Monarchs          Yolanda Griffith       Chicago Condors (ABL)             Florida Atlantic University            11  311.0        59.4          0.265            28.8    13.6             7.9      1.5
944             3  1999          Utah Starzz          Natalie Williams        Portland Power (ABL)                                    UCLA             7  221.0        29.3          0.171            31.1    13.1             8.3      1.4
945             4  1999   Los Angeles Sparks      DeLisha Milton-Jones        Portland Power (ABL)                                 Florida            17  499.0        37.4          0.104            28.8    11.2             5.2      1.8
946             5  1999        Detroit Shock             Jennifer Azzi       San Jose Lasers (ABL)                                Stanford             5  141.0        14.4          0.118            34.7     9.1             2.6      4.5
947             6  1999     New York Liberty          Crystal Robinson     Colorado Xplosion (ABL)  Southeastern Oklahoma State University             9  245.0        26.4          0.143            30.1    10.2             2.7      2.0
948             7  1999       Minnesota Lynx             Tonya Edwards        Columbus Quest (ABL)                               Tennessee             4  125.0         5.0          0.071            22.7     9.0             2.3      1.7
949             8  1999      Orlando Miracle             Tari Phillips     Colorado Xplosion (ABL)                         Central Florida             9  232.0        12.3          0.093            23.0     9.2             5.5      0.9
950             9  1999      Charlotte Sting               Dawn Staley     Philadelphia Rage (ABL)                                Virginia             8  263.0        17.7          0.083            32.5     8.5             2.0      5.1
951            10  1999      Phoenix Mercury             Edna Campbell     Colorado Xplosion (ABL)                                   Texas             7  161.0         3.6          0.041            21.3     7.1             1.7      1.4
952            11  1999    Cleveland Rockers            Chasity Melvin     Philadelphia Rage (ABL)                                NC State            12  393.0        33.9          0.129            26.6     9.7             5.4      1.3
954            13  1999   Washington Mystics             Shalonda Enis         Seattle Reign (ABL)                                 Alabama             5  106.0         5.8          0.094            23.2     7.7             4.2      0.8
955            14  1999  Sacramento Monarchs        Kedra Holland-Corn       San Jose Lasers (ABL)                                 Georgia             7  223.0        13.1          0.095            24.9     8.7             2.1      1.9
956            15  1999          Utah Starzz              Debbie Black     Colorado Xplosion (ABL)                          Saint Joseph's             6  193.0        10.6          0.096            22.8     3.9             2.8      3.2
957            16  1999   Los Angeles Sparks      Clarisse Machanguana       San Jose Lasers (ABL)                            Old Dominion             4  118.0         4.5          0.109            14.2     4.1             2.6      0.5
958            17  1999        Detroit Shock       Val Whiting-Raymond         Seattle Reign (ABL)                                Stanford             3   63.0         1.3          0.040            20.3     4.8             4.7      1.1
961            20  1999      Orlando Miracle                 Sheri Sam       San Jose Lasers (ABL)                              Vanderbilt            10  328.0        20.4          0.088            28.3    10.2             4.1      2.3
963            22  1999      Phoenix Mercury  Clarissa Davis-Wrightsil       San Jose Lasers (ABL)                                   Texas             1   14.0         0.7          0.106            18.5     9.3             2.7      1.4
965            24  1999       Houston Comets             Sonja Henning        Portland Power (ABL)                                Stanford             5  151.0         4.0          0.043            24.5     3.2             2.3      2.3
966            25  1999   Washington Mystics               Andrea Nagy     Philadelphia Rage (ABL)        Florida International University             4  102.0         0.3          0.005            22.2     3.2             1.8      3.5
967            26  1999  Sacramento Monarchs             Kate Starbird         Seattle Reign (ABL)                                Stanford             5  112.0         1.5          0.048            11.2     3.3             1.1      0.8
968            27  1999          Utah Starzz          Adrienne Goodson       Chicago Condors (ABL)                            Old Dominion             7  221.0        12.1          0.075            29.2    12.2             5.1      2.0
972            31  1999       Minnesota Lynx        Andrea Lloyd-Curry        Columbus Quest (ABL)                                   Texas             2   46.0         2.0          0.066            26.8     6.3             3.9      2.5
973            32  1999      Orlando Miracle   Taj McWilliams-Franklin     Philadelphia Rage (ABL)                 St. Edward's University            14  440.0        53.9          0.159            30.8    11.4             6.8      2.0
974            33  1999      Charlotte Sting           Charlotte Smith       San Jose Lasers (ABL)                                     UNC             8  237.0         7.8          0.056            23.6     6.0             3.4      1.5
975            34  1999      Phoenix Mercury             Lisa Harrison        Columbus Quest (ABL)                               Tennessee             6  187.0        10.0          0.088            24.2     6.0             3.6      1.2
976            35  1999    Cleveland Rockers           Tracy Henderson       Nashville Noise (ABL)                                 Georgia             3   61.0        -0.9         -0.068             8.6     1.8             2.1      0.2
977            36  1999       Houston Comets              Kara Wolters  New England Blizzard (ABL)                                   UConn             4   86.0         3.8          0.118            15.0     6.5             3.2      0.7
981            40  1999   Los Angeles Sparks           La'Keshia Frett     Philadelphia Rage (ABL)                                 Georgia             7  201.0         4.2          0.060            13.7     4.0             1.9      0.8
982            41  1999        Detroit Shock       Astou Ndiaye-Diatta         Seattle Reign (ABL)            Southern Nazarene University             8  163.0         4.3          0.052            20.4     7.6             4.2      1.0
983            42  1999     New York Liberty             Carolyn Young  New England Blizzard (ABL)                                  Auburn             2   42.0         0.4          0.035            11.1     4.6             1.1      0.6
984            43  1999       Minnesota Lynx                Sonja Tate        Columbus Quest (ABL)               Arkansas State University             2   40.0         1.1          0.048            23.1     4.3             3.5      2.6
985            44  1999      Orlando Miracle              Carla McGhee        Columbus Quest (ABL)                               Tennessee             4   81.0        -0.3         -0.016             8.9     1.9             1.5      0.4
989            48  1999       Houston Comets         Jennifer Rizzotti  New England Blizzard (ABL)                                   UConn             5  148.0         4.1          0.070            16.0     3.1             1.4      1.8
990            49  1999       Minnesota Lynx            Angie Potthoff        Columbus Quest (ABL)                              Penn State             2   35.0         0.1          0.008            20.5     3.6             2.5      1.1
991            50  1999      Orlando Miracle             Elaine Powell        Portland Power (ABL)                                     LSU            10  265.0        10.2          0.071            21.7     5.7             2.5      2.8